html {
    
    background-color: pink;
}
.art1 ,.art2 {
    background-color: whitesmoke;
    margin: 30px;
    text-align: center;
}

.art1 h1 {
    background-color: palevioletred;
    margin-right: 150px;
    margin-left: 150px;
    color: white;

}

.art2 h1{
    color: palevioletred;
}

#titulo{
    text-align: center;
    background-color: cadetblue;
    font-size: 40px;
    margin: 0px 150px 50px 150px;
    position: sticky;
}

#indice {
    left: 15px;
    position: sticky;
    top: 60px;
    background-color: cadetblue;
    border: white 1px solid;
    width: max-content;
    
    
}

#indice a {
    color: red;
    font-size: larger;
    
}

#indice .sociedad:hover {
    color: whitesmoke;
    background-color: burlywood;
}

#indice .economia:hover {
    color: whitesmoke;
    background-color: cornflowerblue;
}

#indice .deportes:hover {
    color: whitesmoke;
    background-color: steelblue;
}

#indice .internacional:hover {
    color: whitesmoke;
    background-color: tomato;
}

#indice .salud:hover {
    color: whitesmoke;
    background-color: crimson;
}

#indice .tecnologia:hover {
    color: whitesmoke;
    background-color: goldenrod;
}

footer {
    text-align: center;
    
}

footer a {
    color: red;
    text-decoration: none;
}